html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a,
p,
h1,
h2,
h3,
h4,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
    background: #E6E9F2;
    padding-top: 56px;
    padding-left: 200px;
    padding-bottom: 162px;
    padding-right: 350px;
    margin: 0;
    overflow: scroll;

}

.header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 56px;
}

.header__title {
    position: relative;
    display: flex;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.413333px;
    color: #3A4562;
    margin-right: 370px;
}

.header__title::after {
    position: absolute;
    content: '';
    min-width: 775px;
    height: 1px;
    bottom: -10px;
    background: #3A4562;
    opacity: 0.13;
    left: 0;

    @media (min-width:415px) {
            width: 100%;
        }
}

.save-info__thumb {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
}

.save-info__flag--icon {
    display: flex;
    align-items: baseline;
    width: 16px;
    height: 20px;
}

.save-info__flag--svg{
    width: 16px;
    height: 20px;
}

.save-info__text {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.5625px;
    color: #3A4562;
    margin-right: 31px;
}

.save-info__share--icon {
    width: 18px;
    height: 20px;
}

.save-info__share--svg{
    width: 18px;
    height: 20px;
}

.save-info__share--text {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.5625px;
    color: #3A4562;
}

.second-title-thumb{
    display: flex;
    margin-top: 50px;
    gap: 50px;

    
}

.second-title-thumb__heading{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: -0.75px;
    color: #3A4562;
    width: 580px;
}

.second-title-thumb__heading--text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -0.625px;
    color: #3A4562;
}

.salary-sum{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -0.625px;
    color: #3A4562;
}

.salary-sum--description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.5625px;
    color: #3A4562;
}

.post-information{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.5625px;
    color: rgba(56, 65, 93, 0.355988);
    margin-top: 7px;
}


// main---------------------------

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #384564;
    border-radius: 8px;
    width: 150px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:focus,
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.button-text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-conteiner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}

.simple-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.5625px;
    color: #3A4562;
    margin-top: 10px;
    width: 780px;
}

.small-title{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -0.625px;
    color: #3A4562;
    margin-top: 30px;
}

.list-of-items{
    list-style: square;
}

.primary-text{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.413333px;
    color: #3A4562;
    margin-top: 86px;
}

.small-heding {
    position: relative;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.5625px;
    color: rgba(56, 65, 93, 0.82);
    margin-top: 26px;
}

.job-button {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 8px;
}

.benefits::before {
    position: absolute;
    content: '';
    width: 780px;
    height: 1px;
    bottom: 155px;
    background: #3A4562;
    opacity: 0.13;
    left: 0;
    bottom: 145px;

    
}

.job-button__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 222px;
    height: 50px;
    background: rgba(161, 177, 219, 0.317343);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:focus,
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.benefits {
    margin-top: 22px;
}

.job-button__item--text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.0;
    letter-spacing: -0.457143px;
    color: #55699E;
}

.job-button__second-row {
    width: 177px;
    height: 50px;
    background: rgba(255, 207, 0, 0.15);
    border: 1px solid #FFCF00;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:focus,
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.job-button__second-row--text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.0px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #988B49;
    cursor: pointer;
}

.photos-thumb {
    position: relative;
    display: flex;
    justify-content:flex-start;
    gap: 10px;
    height: 133px;
    width: 100%;
    margin-top: 10px;
    margin-top: 30px;
}

.photos-thumb::before {
    position: absolute;
    content: '';
    width: 780px;
    height: 1px;
    bottom: 155px;
    background: #3A4562;
    opacity: 0.13;
    left: 0;
    bottom: 150px;

    
}

.photos-thumb__item {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}


//----footer-----------------------

.footer-thumb {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 372px;
    height: 436px;
    background: #2A3047;
    border-radius: 8px;
    margin-top: 31px;
    align-items: flex-end;
    margin-bottom: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.contacts {
    margin-top: 63px;
}

.for-footer-line::after {
    position: absolute;
    content: '';
    width: 780px;
    height: 1px;
    bottom: -10px;
    background: #3A4562;
    opacity: 0.13;
    left: 0px;

    
}

.for-footer-line {
    display: flex;
    position: relative;
}


.footer {
    display: flex;
    justify-content: center;

}

.footer-thumb{
    position: absolute;
    left: 1030px;
    bottom: 180px;
    z-index: 2;
}

.footer-thumb__inner {
    display: flex;
    width: 372px;
    height: 218px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.footer-thumb__upper {
    display: flex;
    flex-direction: column;
    width: 372px;
    height: 218px;
    background: #2A3047;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.footer-thumb__upper--heding {
    display: flex;
    justify-content: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.23619px;
    color: #E7EAF0;
    margin-top: 31px;
}

.footer-thumb__upper--address {
    display: flex;
    justify-content: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.44;
    letter-spacing: -0.5px;
    color: #E7EAF0;
    margin-top: 17px;
    margin-left: 19px;
    gap: 8px;
}

.footer-thumb__upper--contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.44;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.669635);
    margin-top: 6px;
    margin-left: -40px;
}

.footer-thumb__upper--location {
    display: flex;
    width: 13px;
    height: 17px;
    margin-left: 12px;
}

.footer-thumb__upper--sreet {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.44;
    letter-spacing: -0.5px;
    color: #E7EAF0;
    margin-left: -123px;
}

.footer-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 213px;
    height: 50px;
    margin-top: 90px;
    margin-left: -1400px;
    background-color: #384564;
    opacity: 0.14;
    border-radius: 8px;
    
}

.footer-button__text{
    display: block;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    z-index: 3;
    
}