:root {
    --accent-color: #3A4562;
    --maim-thumb-color: #EFF0F5;
    --background-color: #E6E9F2;
    --footer-thumb-upper-background: #2A3047;
    --footer-thumb-upper-heding-color: #E7EAF0;
    --job-button-items-bgc: rgba(161, 177, 219, 0.317343);
    --submit-button-bgc: #384564;
    --post-info-color: #878D9D;
    --current-color: #55699E;
    --job-button-second-row-bgc: rgba(255, 207, 0, 0.15);
    --job-button-second-row-border: #FFCF00;
    --job-button-second-row-text: #988B49;
    --white-color: #fff;
    --footer-thumb-background-color: #2A3047;
    --footer-thumb-after-and-before: rgba(56, 65, 93, 0.0513276);
    --footer-thumb-link-color: rgba(56, 65, 93, 0.602109);
    --footer-conteiner-left-right-arrows: #7D859C;
    --footer-thumb-upper--contacts-color:rgba(255, 255, 255, 0.669635);
    --footer-button-bgc: #c0c4c4;
    --footer-button-text-color: #000;
} 